.env
*.env
.dart_tool/
build/
.pub-cache/
android/.gradle
ios/Pods/
.idea/
.vscode/
.DS_Store

android/app/google-services.json
firebase.json
lib/firebase_options.dart
.flutter-plugins
.flutter-plugins-dependencies
